html, body {
  margin: 0;
  background-color:rgb(0, 255, 8, 0.10);
  font-family:'Source Code Pro', monospace;
}

.m-0 {
  margin: 0;
}

.m-10 {
  margin: 10px 10px 10px 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-25 {
  margin-top: 25px
}

.mt-75 {
  margin-top: 75px
}

.mb-75 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 100vh;
  overflow: hidden;
}

.panel-menu {
  display: flex;
  background-color: #262626;
  color: #fff;
  position: relative;
  top: 0;
  left: 0;
  width: 17rem;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.menu {
  display: flex;
  position: relative;
  background-color: #262626;
  flex-direction: column;
  width: 17rem;
  text-align: center;
}

.profilepic {
  display: flex;
  position: relative;
  border-radius: 50% 50% 50% 50%;
  width: 175px;
  height: 175px;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
}

.imgprofile {
  border-radius: 50% 50% 50% 50%;
}

.link_menu {
  color:#fff;
}

.menu li {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  list-style: none;
  transition: 0.5s;
  height: 40px;
  border-radius: 25px 25px 25px 25px;
  margin-top: 5px;
}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.menu li:hover {
  background-color: #E21C21;
  font-size: 120%;
  border-radius: 25px 25px 25px 25px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.menu ul {
  display: flex;
  padding: 0px;
  justify-content: center;
  flex-direction: column;
}

.contenido {
  color: rgb(77, 9, 9);
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.home {
  margin: 0;
}


.content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color:#262626;
  padding: 50px 100px 100px;
}

.content h1 {
  color: #E3D84D;
  font-size: 300%;
  background-color: #282828;
  padding: 15px;
  overflow: hidden;
}

.content p {
  font-size: 110%;
  text-align: center;
  font-weight: 500;
  font-family: 'Space Mono', monospace;
}

.content a {
  text-decoration: none;
  background-color: #E21C21;
  transition: 0.3s;
  padding-left: 3px;
  padding-right: 3px;
}

.content a:hover {
  text-decoration: underline;
  background-color: #E21C21;
}

.parpadea {
  animation-name: parpadeo;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.redes {
  display: flex;
  justify-content: center;
}

.redicon {
  margin: 10px;
  width: 32px;
}

section {
  min-height: 100vh;
}

.job {
  display: flex;
  justify-content: center;
  align-content: center;
}

.job-logo {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
  overflow: hidden;
}

.job-description {
  display: flex;
  background-color: rgb(250, 179, 97);
  justify-content: center;
  width: 50%;
  color: #282828;
  overflow: hidden;
}

.job-description p {
  margin: 50px;
  text-align: justify;
}

.resume {
  margin: 0;
  position: relative;
  padding: 0px 50px 0px 50px;
}

.content-resume {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color:#262626;
  padding: 25px 25px 25px 25px;
}

.content-resume h1 {
  color: #E3D84D;
  font-size: 450%;
  background-color: #282828;
  overflow: hidden;
}

.content-resume p {
  font-size: 110%;
  text-align: center;
}

.content-resume a {
  text-decoration: none;
  background-color: #E21C21;
  transition: 0.3s;
  padding-left: 3px;
  padding-right: 3px;
}

.content-resume a:hover {
  text-decoration: underline;
  background-color: #E21C21;
}

.img-job {
  height:fit-content;
}

hr {
  border-style: none;
  background-color: rgb(226, 28, 33, 0.75);
  height: 5px;
}



.descripcion {
  display: flex;
  justify-content: center;
}

.descripcion img {
  width: 400px;
}

.descripcion {
  display: flex;
  justify-content: center;
  align-content: center;

}

.descripcion-img {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
  z-index: 2;
  overflow: hidden;
}

.descripcion-resume {
  display: flex;
  background-color:rgb(0, 255, 8, 0.25);
  justify-content: center;
  width: 50%;
  color: #282828;
  flex-direction: column;
  z-index: 3;
  overflow: hidden;
}

.descripcion-resume p {
  margin: 50px;
  text-align: justify;
}

.edu-content {
  text-align: center;
}

.edu {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px 100px 100px;
}

.edu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edu-description {
  display: flex;
  background-color: #13785a;
  justify-content: center;
  width: 50%;
  color: #fff;
}

.edu-description p {
  margin: 50px;
  text-align: justify;
}

.edu-content h1 {
  color: #E3D84D;
  font-size: 150%;
  background-color: #282828;
  padding: 15px;
  overflow: hidden;
  text-align: start;
}

.edu-content p {
  font-family: 'Space Mono', monospace;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background-color:rgb(0, 255, 8, 0.25);
  padding: 5px;
  width: 180px;
  height: 65px;
  margin-top: 10px;
  line-height: 65px;
  color: #282828;
  text-align: center;
  font-weight:500;
  font-family: 'Roboto Mono', monospace;
}


.habilidades {
  padding: 30px 100px 0px 100px;
}

.habilidades h1 {
  overflow: hidden;
  text-align: start;
}

.item-content {
  display: flex;
  justify-content: center;
  align-content: center;
}

.hobbies {
  display: flex;
  justify-content: center;
  padding: 100px 50px 150px 50px;
}

.hobbie-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.hobbie-item {
  padding: 5px;
  width: 180px;
  height: 100px;
  margin-top: 10px;
  line-height: 100px;
  color: #282828;
  text-align: center;
}

.rotr {
  -webkit-transform: rotate(17deg);
  -moz-transform: rotate(17deg);
  -ms-transform: rotate(17deg);
  -o-transform: rotate(17deg);
  transform: rotate(17deg);
  z-index: 3;
}

.rotl {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  z-index: 1;
}

.rotl3 {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  z-index: 2;
}

.rotr10 {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  z-index: 3;
}

.polaroid {
  width: 80%;
  background-color: #fab361;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.polaroidtitle {
  text-align: center;
  padding: 10px 20px;
}

.img500 {
  width: 500px;
}

.img475 {
  width: 475px;
}

.img550 {
  width: 550px;
}

.img525 {
  width: 525px;
}

.img500 {
  width: 500px;
}

.img-contenedor img {
  -webkit-transition:all .9s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
  width:100%;
}

.img-contenedor:hover img {
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
}

.img-contenedor:hover {
  overflow: hidden;
}

.hob {
  padding: 50px 50px 150px 50px;
}

.hob p {
  font-weight: bold;
  font-size: 110%;
}

.profilepic img {
  -webkit-transition:all .9s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
  width:100%; 
  z-index: 1;
}

.profilepic:hover img {
  -webkit-transform:scale(1.75);
  -moz-transform:scale(1.75);
  -ms-transform:scale(1.75);
  -o-transform:scale(1.75);
  transform:scale(1.75);
  margin-left: 150px;
  margin-bottom: 50px;
  z-index: 1;
}


.fadein {
  font-family:'Source Code Pro', monospace;
  animation: fadein 5s;
  -moz-animation: fadein 5s;
  -webkit-animation: fadein 5s;
  -o-animation: fadein 5s;
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.item-content img {
  transition-duration: 0.8s;
}

.item-content img:hover{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}